@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/*フォントサイズ・カラー*/
body,
html {
  margin: 0;
}

#CDT {
  width: 100%;
  text-align: center;
  font-size: 49px;
  /* カウントダウンタイマーのフォントサイズ */
  font-weight: bold;
  color: #2775b7;
  /* カウントダウンタイマーの色 */
  font-family: 'Noto Sans JP', sans-serif;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ttl {
  color: #868686;
  /* 終了まで〜の色 */
  font-size: 28px;
  /* 終了まで〜のフォントサイズ */
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
